{% extends 'base.html' %} {% block content %}
<main class="journal-container">
  <h1 class="journal-title">{{ daily_prompt.prompt }}</h1>
  <!-- Leaving the action empty makes the form post to the same url used to display it -->
  <form class="journal-form-text" action="" method="POST">
    <div class="make-journal">
      <!-- Django requires the following for security purposes -->
      <input
        type="hidden"
        name="csrfmiddlewaretoken"
        value="qbvEjgstg89Mq3cPGazbWf6rUlGC127ToPxr9uTxxSMySd40YZIM4jvx8fPyZ5Xk"
      />
      <h3 class="on-your-mind">What's on your mind?</h3>
      <table class="freeWrite">
        <!-- Render the inputs inside of <tr>s & <td>s -->
        <tr>
          <th><label for="id_freeWrite"></label></th>
          <td>
            <ul class="errorlist"></ul>

            <textarea
              name="freeWrite"
              maxlength="3000"
              required
              id="id_freeWrite"
            >
            </textarea>
          </td>
        </tr>
      </table>
      <button class="journal-photo-btn" type="submit">
        Sumbmit Journal Entry
      </button>
    </div>
  </form>
</main>

<script>
  var autoExpand = function (field) {
    // Reset field height
    field.style.height = "inherit";
    field.style.width = "inherit";

    // Get the computed styles for the element
    var computed = window.getComputedStyle(field);

    // Calculate the height
    var height =
      parseInt(computed.getPropertyValue("border-top-width"), 20) +
      parseInt(computed.getPropertyValue("padding-top"), 10) +
      field.scrollHeight +
      parseInt(computed.getPropertyValue("padding-bottom"), 10) +
      parseInt(computed.getPropertyValue("border-bottom-width"), 20);

    field.style.height = height + "px";
  };

  document.addEventListener(
    "input",
    function (event) {
      if (event.target.tagName.toLowerCase() !== "textarea") return;
      autoExpand(event.target);
    },
    false
  );
</script>
{% endblock %}
