{% extends 'base.html' %} {% block content %}


<div class="big-plan-container">
  <h1>Add Plan</h1>

  <main class="plan-container">
    <div class="make-plan">
      <p>No plans yet!</p>
      <h3>Add a Plan</h3>
      <form class="plan-form" action="/plans/create/" method="post">
        {% csrf_token %}

        <div class="textarea-resize">
          <textarea
            type="text"
            name=""
            id="add-plan-text"
            cols="100"
          ></textarea>
        </div>
        <button class="add-plan-btn" type="submit">Add Plan</button>
      </form>
    </div>
  </main>
</div>


<script>
  var autoExpand = function (field) {
    // Reset field height
    field.style.height = "inherit";

    // Get the computed styles for the element
    var computed = window.getComputedStyle(field);

    // Calculate the height
    var height =
      parseInt(computed.getPropertyValue("border-top-width"), 10) +
      parseInt(computed.getPropertyValue("padding-top"), 10) +
      field.scrollHeight +
      parseInt(computed.getPropertyValue("padding-bottom"), 10) +
      parseInt(computed.getPropertyValue("border-bottom-width"), 10);

    field.style.height = height + "px";
  };

  document.addEventListener(
    "input",
    function (event) {
      if (event.target.tagName.toLowerCase() !== "textarea") return;
      autoExpand(event.target);
    },
    false
  );
</script>

{% endblock %}
