{% extends 'base.html' %} {% block content %}
<h1>Add Plan</h1>
<!-- Leaving the action empty makes the form post to the same URL used to display it -->
<form action="" method="POST">
  {% csrf_token %}

  <!-- Loop through time slots from 6am to 10pm -->
  {% for hour in hours %}
  <div class="form-group">
    <label for="id_plan_{{ hour }}"> {{ hour }}:00am:</label>
    <input
      type="text"
      id="id_plan_{{ hour }}"
      name="plan"
      class="form-control"
      value="{{ form.plan.value }}"
    />
  </div>
  {% endfor %}

  <input type="submit" value="Submit!" class="btn btn-primary" />
</form>

{% endblock %}
