{% extends 'base.html' %} {% block content %}

<h1>Check In</h1>
<div class="all-checkins">
  <div class="mood-check">Mood Check In</div>
  <div class="sleep-check">Sleep Check In</div>
  <div class="eating-check">Eating Check In</div>
  <div class="exersice-check">Exercise Check In</div>
  <div class="daily-practices-check">Daily Practices Check In</div>
  <div class="better-tomorrow">
    <p>What can I improve on for tomorrow?</p>
    <form action="" method="post">
      <input type="text" name="improve-tomorrow" />
      <button type="submit">Add</button>
    </form>
  </div>
</div>

{% endblock %}
