{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1>My Daily Summaries</h1>
    {% for date, daily_summaries in daily_summaries_by_date.items %}
    <div class="summary-date-box">
      <h2>{{ date }}</h2>
      {% for daily_summary in daily_summaries %}
      <div class="summary-box">
        <p>Mood: {{ daily_summary.mood_check }}</p>
        <p>Sleep: {{ daily_summary.sleep_check }}</p>
        <p>Nutrition: {{ daily_summary.eating_check }}</p>
        <p>Exercise: {{ daily_summary.exercise_check }}</p>
        <p>Daily Practices: {{ daily_summary.daily_practices_check }}</p>

        <!-- Journal Entry is included within each individual Summary Box -->
        <div class="journal-entry">
          <h4>Journal Entry</h4>
          <p>{{ daily_summary.journal_entry }}</p>
        </div>

        <!-- User Photo -->
        <div class="user-photo">
          <img src="{{ daily_summary.user_photo.url }}" alt="User Photo">
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
</div>
   
{% endblock %}
