{% extends 'base.html' %} {% block content %}

<div class="journal-card">
  <div class="journal-title">
    <h1>Journal</h1>
  </div>
  
  <div class="today-date">
    <h5>Today is {{ current_date|date:'l, M jS' }}</h5>
  </div>

  <div class="journal-entry">
    <p class="journal-text">Share your day...</p>
    <form action="{% url 'journal_create' %}" method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Add Entry</button>
    </form>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      <button class="journal-photo-btn" type="submit">
        Photo That Made Me Happy
      </button>
    </form>
  </div>
</div>

{% endblock %}
