{% extends 'base.html' %} {% block content %}

<div class="journal-card">
  <div class="journal-title">
    <h1>Journal</h1>
  </div>
  <div class="today-date">
    <h5 class="today-is">Today is {{ current_date|date:'l, M jS' }}</h5>
  </div>
  {% if today_entry %}
  <h1>Today's Journal Entry</h1>
  <p>Daily Prompt: {{ today_entry.dailyPrompt }}</p>
  <p>Free Write: {{ today_entry.freeWrite }}</p>
  {% else %}
  <p>No journal entry for today.</p>
  {% endif %}

  <div class="journal-question"></div>
  <div class="journal-entry">
    <form action="{% url 'journal_create' %}" method="post">
      {% csrf_token %} {{ form.as_p }}
      <button class="add-btn" type="submit">Add Entry</button>
    </form>
  </div>
</div>

{% endblock %}
