{% extends 'base.html' %} {% block content %}
<div class="plan-home">
  <h1 class="plan-title">Daily Plans</h1>
  <div class="today-date">
    <h5>Today is {{ current_date|date:'l, M jS' }}</h5>
  </div>
  {% if plan %}
  <div class="plan-made">
    <p>{{ plan.time|time:'g:i A' }} - {{ plan.plan }}</p>
  </div>
  {% else %}
  <div class="make-plan-home">
    <p>No plans yet!</p>
    <h3>Add a Plan</h3>
    <form action="{% url 'plan_create' %}" method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Add Plan</button>
    </form>
  </div>
</div>
{% endif %} {% endblock %}
