{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>wellNest</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}" />

  </head>
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <ul>
            <li>
              <a href="/" class="left-brand-logo">&nbsp;&nbsp;wellNest</a>
            </li>
          </ul>
          <ul class="right">
            <li><a href="/" class="about-link">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            <!-- FIGURE OUT HOW TO MAKE BOTTOM NAV THE IF -->
            {% else %}
            <li><a href="{% url 'login' %}" class="login-link">Log In</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer">
      <div class="footer-links">
        <ul>
          <li><a href="/checkins">Checkins</a></li>
          <li><a href="/journal">Journal</a></li>
          <li><a href="/plans">Plans</a></li>
          <li><a href="/dailysummaries">Daily Summaries</a></li>
        </ul>
      </div>
      All Rights Reserved, &copy; 2024 WellNest
    </footer>
  </body>
</html>
