body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: lightskyblue;
  margin: 0;
}

.nav-wrapper ul.right {
  display: flex;
  justify-content: flex-end;
}

.nav-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-wrapper ul.right li {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.nav-wrapper ul.right li a {
  text-decoration: none;
}


main {
  flex: 1;
  text-align: center;
}


footer.page-footer {
  font-size: 15px;
  background-color: #b3dee2;
  text-align: center;
  margin-top: auto; 
}
.footer-links li {
  display: inline-block;
  margin-right: 50px;
  font-size: 20px;
}

.footer-links li a {
  color: #666666;
  text-decoration: none;
}

.footer-links li a:hover {
  color: #999999;
}

.left-brand-logo {
  display: flex;
  justify-content: left;
  font-size: 50px;
  text-align: left;
  text-decoration: none;
  list-style: none;
}

.nav-wrapper ul.right li a.about-link,
.nav-wrapper ul.right li a.login-link {
  color:#666666 ;
  margin-right: 15px; 
  text-decoration: none;
}
.nav-wrapper ul.right li a.about-link:hover,
.nav-wrapper ul.right li a.login-link:hover {
  color: #999999;

}
  
.login-link {
  font-size: 20px;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.date-box {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #8aec6e87; 
}

.summary-box {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  background-color: #5ee560b7; 
}

.journal-entry {
  margin-top: 10px;
}

.journal-entry h4 {
  margin-bottom: 5px;
  color: #333; 
}

.journal-entry p {
  margin-bottom: 10px;
  color: #555; 
}
