body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  text-align: center;
}

footer.page-footer {
  width: auto;
  padding-top: 0;
  font-size: 15px;
  text-align: center;
}
.footer-links li {
  display: inline-block;
  margin-right: 50px;
  font-size: 20px;
  text-decoration: none;
}

.footer-links li a {
  color: black;
}

.footer-links li a:hover {
  color: lightblue;
}

.left-brand-logo {
  font-size: 30px;
}
.login-link {
  font-size: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.date-box {
  margin-bottom: 20px;
}
.summary-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.journal-entry {
  margin-top: 10px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
